#typed-strings {
	width: 200px;
	white-space: nowrap;
}

#typedi {
	letter-spacing: .8px;
	/*display: flex;*/
	
    font-size: 4vw;
    white-space: pre-line;
    color: white;

}

.typed-cursor {
	
    opacity: 1;
    font-size: 4vw;
    color: white;

}

#landing-main {
	
	width:100%;
	
	/*background-color: blue;*/
	
}

#landing-page {
	min-height: 100vh;
	padding-left: 0;
	padding-right: 0;
	display: flex;
    flex-direction: column;
    justify-content: space-between;	
	background-color: #094AB2;
	color: white;
}

.header {
	height: 110px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.left-header {
	font-size: 40px;
	letter-spacing: .8px;
}
#landing-page-header {
	
	border-bottom: 1px solid white;
}
.header-links {
	padding: 13px;
	font-size: 23px;
	color: white;
}

.header-links:hover {
	text-decoration: none;
	color: white;
	background-color:#3c7ce8;
    border-radius: 4px;
}

.header-links:active {
	color: orange;
}

.landing-main-lettering {
	padding-left: 20vw;
}
#landing-page-bottom {
	height:130px;
	display: flex;
	flex-direction: row;
	justify-content: center;

}
.fa-chevron-down {
	font-size: 100px;
	align-self:center;
}

#dropdown {
	position: fixed;
    display: flex;
    bottom: 20px;
    right: 28px;
    font-size: 40px;
    padding: 13px;
    background: white;
	border: 1.5px solid #e7e7e7;
    border-radius: 4px;
    
    color: #343a44;
}

/*#dropdown:hover {
	background: white;
	border: 1px solid #e7e7e7
}
*/
#content {
	
	position: fixed;
	bottom: 100px;
    right: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #094AB2;
    border-radius: 4px;
    text-align: right;
}

#about {
	
}

#main-body {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.all-info {
	width: 60%;
	font-size: 20px;
}

.body-title {
	border-bottom: 1px solid grey;
	padding-top: 60px;
}
#education-title {
	padding-top: 80px;
}
#education {
	display: flex;
	flex-direction: column;
}
.school {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	font-weight: 500;
}
.school-extra {
	/*padding-left: 40px;*/
	display: flex;
	font-size: 20px;
}

.fa-angle-right {
	font-size: 25px;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border: 1.5px solid #e7e7e7;
    border-radius: 4px;
}



.fa-angle-down {
	font-size: 25px;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border: 1.5px solid #e7e7e7;
    border-radius: 4px;
    color: blue;
}

#degree {
	align-self: center;
    padding-left: 20px;
}






@media screen and (max-width: 497px) {

	#typedi {
	letter-spacing: .8px;
	/*display: flex;*/
	
    font-size: 5vw;
    white-space: pre-line;
    color: white;

}

.landing-main-lettering {
    padding-left: 11vw;
}

.typed-cursor {
	
    opacity: 1;
    font-size: 5vw;
    color: white;

}

.right-header{
	display: none;
}

}
